---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  font-size: 15px;
  color: rgb(5, 5, 5);
}